@import "../_defs";

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
}


.legacy-old-browser {
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #222;
	color: #ccc;
	font-size: 13px;
	width: 100%;
	font-family: sans-serif;
	p {
		margin: 0;
	}

	a {
		color: #eee;
	}
}
